<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%t] - %msg%n"/>
        </Console>
        <File name="FILE" fileName="C:\Users\Admin\IdeaProjects\XMLparseWeb\src\main\webapp\logs\logs.txt">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>